body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "montserrat", sans-serif;
}

.error {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    text-align: center;
}

.light-mode {
    color: black;
}

.dark-mode {
    color: white;
}

h1 {
    font-size: 150px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
}

h3 {
    padding-bottom: 1%;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 100px;
        letter-spacing: 10px;
    }

    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 16px;
        padding-bottom: 5%;
    }
}
